.container {
  position: relative 
  left: 0; 
  top: 0;
  padding: 0;
  margin: 0;
  border: red dotted 3px
}
.text {
  padding: 20px;
  margin: 20px;
  font-size:xx-large;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-color:rgb(245, 181, 144);
  color: white;
  transition-duration: 5s;
  animation: text-animation 5s infinite;
  transition-timing-function: ease-in-out;
  direction: reverse;
}
  @keyframes text-animation
{
    from {font-size: large; letter-spacing: normal;}
    to {font-size: xx-large; letter-spacing: 3mm }

}@import url('https://fonts.googleapis.com/css2?family=Poppins|Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* ======== Base ========  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    transition: .3 linear;
}
body, button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
}

/* ======== Section ========  */
section {
    height: 30vh;
}
section:nth-of-type(odd) {
    color: black;
    background: f8f8f8;
}

section:nth-of-type(even) {
    color: rgba(255, 255, 255, 0.8);
    background: rgb(0, 0, 0);
}
section .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 9%;
    font-size: 4rem;
}
/* ======== Header ========  */
#header {
    /* position */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* flex layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    /* style */
    background: hsla(230, 8%, 15%, .9);
    backdrop-filter: saturate(180%) blur(16px);
    -wwbkit-backdrop-filter: saturate(180%) blur(16px); 
    box-shadow: 0 6px 4px hsla(0, 4%, 15%, .2);
}

/* logo */
.logo {
    color: aliceblue;
    font-size: 1.3rem;
    cursor: pointer;
}
.logo:hover {
    color: hsl(29, 72%, 62%);
}


/* links */
.navbar li {
    display: inline-block;
    padding-right: 1rem;
}

.navbar li a {
    position: relative !important;
    color: hsl(195, 12%, 94%, .7);
    transition: all 0.3s ease .1s;
}

.navbar li a:hover {
    /* color: #0088a9; */
    color: hsla(195, 12%, 100%, 0.9);
}
nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
}

nav ul li a::before {
    background-color: #235aa6;
    transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
}

nav ul li a::after {
    background-color: #f25757;
    transition: all .25s cubic-bezier(.694, .048, .335, 1);
}

nav ul li a:hover::after,
nav ul li a:hover::before {
    width: 100%;
    left: 0;
}


/* button */
button[class=btn-contact] {
    position: absolute;
    right: 9%;
    top: 50%;
    transform: translateY(-50%);
    padding: 9px 25px;
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button[class=btn-contact]:hover {
    background-color: rgba(64, 82, 90, 0.452);
    color: aquamarine;
}

/* ======= Secend header layout ====== */
/*
#header {
  justify-content: flex-end;
}
.logo {
    margin-right: auto;
}
a[class=sign-in] {
    margin-left: 7rem;
}
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed{
  background: #444;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Roboto', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}
